@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    height: 100%;
  }

  body {
    @apply bg-black text-white antialiased;
    height: 100%;
    overflow: hidden;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
